/*颜色*/
@mainFontColor:#333;
@textColor:#666;
@placeholderColor:#bbbbbb;

@bgColor:#F3F6FA;
@clickBgColor:#F2F8FF;

@activeColor:#4A90E2;
@disabledColor:#F5F6F8;
@headColor:#1E4D79;
@borderColor:#DBDEE2;

@successColor:#3AAF71;
@warningColor:#FF9400;
@dangerColor:#F45757;

/**  input placehold 样式**/

*{
  margin: 0;
  padding: 0
}
body,h1,h2,h3,h4,h5,h6,p,ul{
  margin: 0;
}
ul,ol,button,textarea{
  padding: 0;
}
ul,ul li{
  list-style: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: @placeholderColor;
  font-size: 12px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: @placeholderColor;
  font-size: 12px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: @placeholderColor;
  font-size: 12px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: @placeholderColor;
  font-size: 12px;
}